* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
a {
    color: white;
}

body {
    background-color: white;
}

header {
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    position:sticky;
}
.header-container {
    position: relative;
}
.container {
    position: relative;
}


header div img {
    width: 40px;
    border-radius: 50%;
}

header div #name {
    position: absolute;
    top: 10px;
    text-align: left;
    color:#000000;
    font-size: 20px;
    padding-left: 10px;
}

header div #img,#name,.buttons{
    display: inline-block;
}

header div.buttons {
    font-weight: 600;
    padding: 10px;
    position: absolute;
    height: 40px;
    justify-content: center;
}

header #button1 {
    right:10px;
    width:110px;
    background-color: #502F4C;
    color:white;
}

header #button2 {
    right:140px;
    border:3px solid #7D83FF;
    color: #7D83FF;
}

header #button3 {
    font-size: 110%;
    right:300px;
    color: black;
}

main .container {
    display: flex;
    padding-left:120px;
    padding-right:120px;
    padding-top: 100px;
}

main div h2 {
    margin: 0px;
    font-size:380%;
    font-weight: 800;
}

main div #pink {
    color:#E5446D;
}

main .container #img {
    width:800px;
    height:450px;
    background-image: url('https://camo.githubusercontent.com/10b2d4e80487e1d9cd086ce8619e15740a1bd22c6462f6be13df93ee684deb7b/68747470733a2f2f616e616c7974696373696e6469616d61672e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031382f31322f646576656c6f7065722d6472696262626c652e676966');
    background-size: contain;
    margin-left: 175px;
}

#main-para {
    font-size: 20px;
    padding-top: 10px;
    width: 550px;
}

.experience {

    padding-left:100px;
    padding-right:100px;
    padding-top: 120px;
}


.experience #experience-heading, #education-heading, #socials-heading {
    font-size:40px;
    font-weight: 900;
    color: #E5446D;
    text-align: center;
    padding-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-between;
}
.experience .card {
    
    width: 31%;
    padding:15px;
    border-radius: 20px;
    transition: all .25s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

#wincrave-card {
    background-color:black;
    color: white; 
}

#coding-card {
    background-color:rgb(28,29,30);
    color: white; 
}

#skdesign-card {
    background-color: #4B01EC;
    color: white;
}

.card .top-card-row {
    display: flex;
    height:40px;
    justify-content: space-between;
    align-items: center;
}

.top-card-row .card-main-name {
    font-size: 30px;
    margin: 0;

}

.card .bottom-card-row {
    display: flex;
    height: 75px;
    flex-direction: column;
}

.bottom-card-row p {
    margin-top: 15px;
}
.bottom-card-row h4 {
    margin-top: 15px;
}

.card #card-wincrave-img {
    background-image: url('https://yt3.googleusercontent.com/tSXA7v4nUjA-7tY-DBo3Yq6J44eiVtRbKq6R3VPaNA2hmPYgn3lUU3UmQ33n3vXwkMt0sGZvLg=s160-c-k-c0x00ffffff-no-rj');
}

.card #card-skcodes-img {
    background-image: url('https://avatars.githubusercontent.com/u/153809729?v=4');
}

.card #card-skdesign-img {
    background-image: url('https://yt3.googleusercontent.com/M37gwjOXte3ZPjYiypqF0YRt4w8DWuN55p09qpVUhcJNf_W9ZbRl29O-Fd6cfpGr6khoBikJ8w=s160-c-k-c0x00ffffff-no-rj');
}
.card .card-img {

    position: relative;
    left:8px;
    width: 60px;
    height: 60px;
    background-size: contain;
    border-radius: 50%;
}

.education-section {
    padding-left:100px;
    padding-right:100px;
    padding-top: 100px;
    width: 100%;
}

.education-content {
    padding-bottom: 40px;
}
.education-lists .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.education-lists {
    position: relative;
    /* max-width: 900px; */
    width: 100%;
    overflow: hidden;
}
.education-lists .image {
    height: 100px;
    width: 100px;
    
    padding-top:10px;
    margin-bottom: 20px;
    object-fit: contain;
}

.education-lists #adamjee-logo {
    margin:0;
    padding: 0;
    height: 120px;
    width: 120px;

}
.slider .image-data {
    padding: 10px;
    text-align: center;
}

.image-data h2 {
    margin-top: 10px;
    margin-bottom:2px;
    font-size:30px;
    font-weight: 600; 
}

.image-data .degree-and-duration {
    color:#454545;
    font-size: 14px;
}

.image-data .desc {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin-top: 15px;
    padding-left: 120px;
    padding-right: 120px;
}

.socials-section {
    padding-left:100px;
    padding-right:100px;
    padding-top: 100px;
    width: 100%;
}

.socials-button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
.instagram-button {
    color: #cc2366;
    border: #cc2366 1px solid;
}
.socials-button span {
    margin: 10px;
  }
  
.socials-button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
.socials-button:hover {
    color: #fff;
    border: #cc2366 1px solid;
  }
  
.socials-button:hover::before {
    box-shadow: inset 0 0 0 10em #cc2366;
  }
  
footer {
    margin-top:50px;
    
    background-color: #502F4C;
    height:100px;
}

