* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    padding:20px;
    background-color: white;
}

.container {
    position: relative;
}

header div img {
    width: 40px;
    border-radius: 50%;
}

header div #name {
    position: absolute;
    top: 10px;
    text-align: left;
    color:#000000;
    font-size: 20px;
    padding-left: 10px;
}

header div #img,#name,.buttons{
    display: inline-block;
}

header div.buttons {
    font-weight: 600;
    padding: 10px;
    position: absolute;
    height: 40px;
    justify-content: center;
}

header #button1 {
    right:10px;
    width:110px;
    background-color: #502F4C;
    color:white;
}

header #button2 {
    right:140px;
    border:3px solid #7D83FF;
    color: #7D83FF;
}

header #button3 {
    font-size: 110%;
    right:300px;
    color: black;
}

main .container {
    display: flex;
    padding-left:100px;
    padding-right:100px;
    padding-top: 100px;
}

main div h2 {
    margin: 0px;
    font-size:380%;
    font-weight: 800;
}

main div #pink {
    color:#E5446D;
}

main .container #img {
    width:500px;
    height:500px;
    background-image: url('SKDesign Zoomed.jpg');
    background-size: cover;
    border-radius: 50%;
    margin-left: 175px;
}

#main-para {
    font-size: 20px;
    padding-top: 10px;
    width: 550px;
}

.experience {

    padding-left:100px;
    padding-right:100px;
    padding-top: 50px;
}


.experience #experience-heading {
    font-size:30px;
    color: #502F4C;
}
.experience .card {
    background-color:black;
    width: 33%;
    padding:15px;
    border-radius: 20px;
    color: white;
    
    
}

.card .top-card-row {
    display: flex;
    height:40px;
    justify-content: space-between;
    align-items: center;
}

.top-card-row .card-main-name {
    font-size: 30px;
    margin: 0;

}

.card .bottom-card-row {
    display: flex;
    height: 75px;
    flex-direction: column;
}

.bottom-card-row p {
    margin-top: 15px;
}
.bottom-card-row h4 {
    margin-top: 0;
}
.card #channel-img {

    position: relative;
    left:10px;
    width: 70px;
    height: 70px;
    background-image: url('https://yt3.googleusercontent.com/tSXA7v4nUjA-7tY-DBo3Yq6J44eiVtRbKq6R3VPaNA2hmPYgn3lUU3UmQ33n3vXwkMt0sGZvLg=s160-c-k-c0x00ffffff-no-rj');
    background-size: contain;
    border-radius: 50%;
}
